#navbar {
  justify-content: space-around;
  align-items: center;
}

#navbar .row {
  align-items: center;
}

#navbar .nav-title {
  font-size: 36px;
}

#navbar .nav-text {
  text-transform: uppercase;
  font-size: 16px;
}

#navbar a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.25s ease-in-out;
}

#navbar a:hover {
  border-bottom: 1px solid rgb(126, 126, 126);
}

#hero {
  min-height: 1000px;
  background-image: url("../img/nastol.com.au\ img.png");
  background-size: cover;
  background-position: bottom center;
  justify-content: center;
  /* align-items: center; */
  position: relative;
}

#hero .display-4 {
  /* padding-top: 5em; */
  /* padding-bottom: 5em; */
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 1px 1px black;
}

#hero .absolute {
  bottom: -80px;
  position: absolute;
  z-index: 0;
}

.card-like {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 3em;
  z-index: 5;
}

.card-like > * {
  margin-right: 1em;
  margin-left: 1em;
}

.card-like > input {
  height: 50px;
  border: 0px;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 0.5em;
}

.hero-btn {
  background-color: #f31131;
  border: 0px;
  color: white;
  border-radius: 50%;
  font-size: 30px;
}

.content {
  /* position: relative;
  top: -5em; */
  padding-top: 8em;
  background-color: #ecf0f1;
}

.content .display-4 {
  font-size: 48px;
  font-weight: bold;
}

#latest {
  padding-top: 4em;
  padding-bottom: 4em;
}

#latest a {
  color: black;
  text-decoration: none;
}

#latest .image-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#latest .image-card img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

#latest .absolute {
  background-color: white;
  padding: 1em 1em 1em 1em;
  bottom: 10%;
  position: absolute;
}

#latest .absolute .text {
  padding: 1em 2em 1em 2em;
  border: 1px solid #ccc;
}

#recent,
#why {
  padding-top: 4em;
  padding-bottom: 4em;
}

#recent .area-dados .title {
  font-size: 30px;
  font-weight: bold;
}

#recent .photos img {
  object-fit: cover;
  width: 100%;
}

#recent .big-photo {
  height: 250px;
}

#recent .item {
  background-color: white;
}

#recent .pill {
  padding-right: 2em;
  padding-left: 2em;
  text-transform: uppercase;
  border-radius: 100px;
}

#why .title {
  font-size: 24px;
  font-weight: bold;
}

#contact {
  background-image: url("../img/Shape\ 64.png");
  background-size: cover;
  background-position: bottom left;
  height: 500px;
  padding-top: 2.5em;
}

#contact .container,
#contact .row {
  height: 100%;
}

#contact #form {
  padding: 2em;
  align-self: flex-end;
  background-color: white;
}

#contact .title {
  font-size: 30px;
}

#contact #form input {
  width: 100%;
  border: 0px transparent;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

input:focus {
  outline: none;
}

#contact #form input:focus {
  outline: none;
}

#contact #form .btn {
  margin-top: 3em;
  padding: 1em 2em 1em 2em;
  border-radius: 100px;
  text-transform: uppercase;
}

footer {
  background-color: #171d1c;
  color: white;
}

footer a,
footer a:hover {
  color: white;
}

/*  */

nav {
  background-color: #1e1e23;
  height: 65px;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  width: 80%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle ul {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383f;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  /* width: 100vw; */
  z-index: 0;
  /* height: 100vh; */
  box-shadow: 0 0 10px #85888c;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: #f5f6fa;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  /* padding: 10px 0; */
  padding: 1em;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul {
  transform: none;
}
